div {
    box-sizing: border-box;
}

#graph {
    background: #001133;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

body {
    margin: 0;
}

html, body {
    height: 100%;
}

.top {
    height: 100%;
    width: 100%;
    position: relative;
}

.top .cover {
    z-index: 5;
    width: 480px;
    margin-top: 120px;
}

.top .title {
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}

.top .title img {
    vertical-align: middle;
    margin-right: -20px;
}

.top .subtitle {
    color: white;
    text-align: center;
    font-size: 16px;
}

.top .top-content {
    position: absolute;

}
.timer {
    color: white;
    text-align: center;
    margin-top: 10px;
}
.timer .day, .timer .hours, .timer .minute, .timer .second {
    width: 18px;
    height: 24px;
    background: white;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.timer .number {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #001133;
}

.timer .number.enter {
    animation: number_enter 400ms;
}

.timer .number.exit {
    animation: number_exit 400ms;
}

.content {
    margin-top: 10px;
    text-align: center;
}

.m-progress {
    border: solid 2px #fff;
    border-radius: 2px;
    overflow: hidden;
    height: 14px;
}

.m-progress-bar {
    background: #fff;
    height: 100%;
}

.button {
    border: solid 2px #fff;
    color: white;
    background: none;
    border-radius: 2px;
    padding: 2px 12px;
}

.button:hover {
    background: white;
    color: #001133;
}

.button:focus {
    outline: none;
}

@keyframes number_enter {
    from {transform: translateY(-12px) rotateX(-90deg)}
    to {transform: translateY(0)}
}

@-o-keyframes number_enter {
    from {-o-transform: translateY(-12px) rotateX(-90deg)}
    to {-o-transform: translateY(0)}
}

@-webkit-keyframes number_enter {
    from {-webkit-transform: translateY(-12px) rotateX(-90deg)}
    to {-webkit-transform: translateY(0)}
}

@-moz-keyframes number_enter {
    from {-moz-transform: translateY(-12px) rotateX(-90deg)}
    to {-moz-transform: translateY(0)}
}

@-ms-keyframes number_enter {
    from {-ms-transform: translateY(-12px) rotateX(-90deg)}
    to {-ms-transform: translateY(0)}
}

@keyframes number_exit {
    from {transform: translateY(0px)}
    to {transform: translateY(12px) rotateX(90deg)}
}

@-o-keyframes number_exit {
    from {-o-transform: translateY(0px)}
    to {-o-transform: translateY(12px) rotateX(90deg)}
}

@-webkit-keyframes number_exit {
    from {-webkit-transform: translateY(0px)}
    to {-webkit-transform: translateY(12px) rotateX(90deg)}
}

@-moz-keyframes number_exit {
    from {-moz-transform: translateY(0px)}
    to {-moz-transform: translateY(12px) rotateX(90deg)}
}

@-ms-keyframes number_exit {
    from {-ms-transform: translateY(0px)}
    to {-ms-transform: translateY(12px) rotateX(90deg)}
}

.content {
    margin-top: 10px;
}